body {
  position: relative;
  font-family: 'Share Tech Mono', monospace;
  background-color: black;
  width: 100%;
overflow: hidden;
transition: all 2s linear;
}

h1,h2,h3,p {
    color: #00FF41;
}

a {
  text-decoration: none;
  color: #00FF41;
}

.above-canvas {
  font-size:24px;
  position: absolute;
right: 40px;
  top: 0;
  left: 20px;
}

.hide-me {
  visibility: hidden;
  height: 200px;
}

.blink_me {
  animation: blinker 2s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

#showExchangeRate {
  text-align: center;
  font-size: 50px;
  display: none;
  margin: 0 auto;

  @media only screen and (max-width: 480px) {
    font-size: 24px;
  }
}
